.markdown {
  height: auto;
  padding-top: 80px;
  font-size: 15px;
  background: #fff;

  .md-head {
    padding: 0 15px;
    font-family: "Nanumbarunpen";

    .title {
      margin: 10px;
      font-size: 28px;
      font-weight: bold;
      position: relative;
    }

    .tag-wrap {
      margin: 10px;
      height: 27px;
      line-height: 27px;

      a {
        display: inline-block;
        color: #fafafa;
        text-decoration: none;
        font-size: 13px;
        padding: 0 10px;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.4);

        img {
          width: 20px;
          margin: 3px 5px 3px 0;
          float: left;
        }

        &:hover {
          background: #00c3bd;
        }
      }
    }
  }

  .markdown-body {
		padding: 25px;

    .post-content {
      width: 100%;
      float: left;
    }
	}

  /* Post */
  .center-image {
    width: 70%;
    margin: 15px 15%;
  }

  table {
    width: 90%;
    margin: 10px 5% 30px 5%;

    th {
        border-bottom: 2px solid rgb(154, 154, 154);
    }

    td {
        border-bottom: 1px solid rgb(154, 154, 154);
    }
  }

  a {
    color: rgb(154, 154, 154);
  }

  h2 {
    width: 100%;
    color: #444444;
    font-size: 26px;
    margin: 30px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

  h3 {
    width: 100%;
    color: #3ddad7;
    margin-top: 25px;
    font-size: 20px;
  }

  h4 {
    color: #444444;
    margin-top: 25px;
  }

  a {
    color: #2096ba;
    text-decoration: none;
  }

  .post-content {

    ul {
      margin: 0 25px;

      li {
        list-style-type: disc;
        margin: 10px 0;
      }
    }
  }

  blockquote {
    height: auto;
    background: #fafafa;
    border-left: 5px solid #ddd;
    font-size: 15px;
    padding: 5px 15px;
    margin: 15px 0;
  }

  .quote {
    height: auto;
    background: #edfafd;
    border-left: 5px solid #56b1bf;
    font-size: 15px;
    padding: 15px;
    margin: 15px 0;
  }

  footer {
    font-family: 'Nanumbarunpen';

    .my-intro {
      width: 100%;
      height: auto;
      margin: 15px 0;
      padding: 15px 0;
      border-top: 1px solid #ddd;
      float: left;

      img {
        width: 10%;
        border-radius: 100%;
        margin: 0 1.5%;
        float: left;
      }

      article {
        width: 87%;
        padding: 0.5% 0 0 1.5%;
        float: left;

        p {
          margin: 0;
          font-size: 18px;
          color: #444444;
        }
      }
    }

    .other-posts {
      width: 100%;
      height: 65px;
      margin: 30px 0;
      padding: 0;
      display: inline-block;
      float: left;

      .prev-or-next {
        width: 50%;
        float: left;

        a {
          display: inline-block;
          padding: 5px 9px;
          border: 1px solid #ddd;
          border-radius: 7px;
          color: #797979;
          cursor: pointer;

          span {
            color: #ddd;
            font-size: 18px;
          }

          &:hover {
            text-decoration: none;
            color: #3ddad7;
            border: 1px solid #3ddad7;
            transition: 0.3s;

            span {
              color: #3ddad7;
            }
          }
        }
      }
    }
  }

  /*-- Code --*/
  pre {
    border-radius: 3px;
    background-color: #222;
    padding: 10px;
    margin: 20px 0;
    word-wrap: break-word;
    white-space: pre-wrap;

    code {
      font-family: 'Courier', monospace;
      font-size: 15px;
      color: #999;
    }

    .c, .highlight .c1 { color: #586E75 } /* Comment */
    .err { color: #93A1A1 } /* Error */
    .g { color: #93A1A1 } /* Generic */
    .k { color: #859900 } /* Keyword */
    .l { color: #93A1A1 } /* Literal */
    .n { color: #93A1A1 } /* Name */
    .o { color: #859900 } /* Operator */
    .x { color: #CB4B16 } /* Other */
    .p { color: #93A1A1 } /* Punctuation */
    .cm { color: #586E75 } /* Comment.Multiline */
    .cp { color: #859900 } /* Comment.Preproc */
    .c1 { color: #586E75 } /* Comment.Single */
    .cs { color: #859900 } /* Comment.Special */
    .gd { color: #2AA198 } /* Generic.Deleted */
    .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
    .gr { color: #DC322F } /* Generic.Error */
    .gh { color: #CB4B16 } /* Generic.Heading */
    .gi { color: #859900 } /* Generic.Inserted */
    .go { color: #93A1A1 } /* Generic.Output */
    .gp { color: #93A1A1 } /* Generic.Prompt */
    .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
    .gu { color: #CB4B16 } /* Generic.Subheading */
    .gt { color: #93A1A1 } /* Generic.Traceback */
    .kc { color: #CB4B16 } /* Keyword.Constant */
    .kd { color: #268BD2 } /* Keyword.Declaration */
    .kn { color: #859900 } /* Keyword.Namespace */
    .kp { color: #859900 } /* Keyword.Pseudo */
    .kr { color: #268BD2 } /* Keyword.Reserved */
    .kt { color: #DC322F } /* Keyword.Type */
    .ld { color: #93A1A1 } /* Literal.Date */
    .m { color: #2AA198 } /* Literal.Number */
    .s { color: #2AA198 } /* Literal.String */
    .na { color: #93A1A1 } /* Name.Attribute */
    .nb { color: #B58900 } /* Name.Builtin */
    .nc { color: #268BD2 } /* Name.Class */
    .no { color: #CB4B16 } /* Name.Constant */
    .nd { color: #268BD2 } /* Name.Decorator */
    .ni { color: #CB4B16 } /* Name.Entity */
    .ne { color: #CB4B16 } /* Name.Exception */
    .nf { color: #268BD2 } /* Name.Function */
    .nl { color: #93A1A1 } /* Name.Label */
    .nn { color: #93A1A1 } /* Name.Namespace */
    .nx { color: #555 } /* Name.Other */
    .py { color: #93A1A1 } /* Name.Property */
    .nt { color: #268BD2 } /* Name.Tag */
    .nv { color: #268BD2 } /* Name.Variable */
    .ow { color: #859900 } /* Operator.Word */
    .w { color: #93A1A1 } /* Text.Whitespace */
    .mf { color: #2AA198 } /* Literal.Number.Float */
    .mh { color: #2AA198 } /* Literal.Number.Hex */
    .mi { color: #2AA198 } /* Literal.Number.Integer */
    .mo { color: #2AA198 } /* Literal.Number.Oct */
    .sb { color: #586E75 } /* Literal.String.Backtick */
    .sc { color: #2AA198 } /* Literal.String.Char */
    .sd { color: #93A1A1 } /* Literal.String.Doc */
    .s2 { color: #2AA198 } /* Literal.String.Double */
    .se { color: #CB4B16 } /* Literal.String.Escape */
    .sh { color: #93A1A1 } /* Literal.String.Heredoc */
    .si { color: #2AA198 } /* Literal.String.Interpol */
    .sx { color: #2AA198 } /* Literal.String.Other */
    .sr { color: #DC322F } /* Literal.String.Regex */
    .s1 { color: #2AA198 } /* Literal.String.Single */
    .ss { color: #2AA198 } /* Literal.String.Symbol */
    .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
    .vc { color: #268BD2 } /* Name.Variable.Class */
    .vg { color: #268BD2 } /* Name.Variable.Global */
    .vi { color: #268BD2 } /* Name.Variable.Instance */
    .il { color: #2AA198 } /* Literal.Number.Integer.Long */
  }

  .highlighter-rouge {
    color: #D9418C;
    font-size: 15px;
    background: #f2f2f2;
    border-radius: 3px;
  }
}
