<ul class="top_menu">
  <li class=" menu_list sidebar-toggle-box">
    <button class="menu_btn" id="menuBtn" title="메뉴토글버튼">
      <i class="im im-menu"></i>
    </button>
  </li>

  <li class="menu_list logo">
    <a href="{{site.baseurl}}/">
      bbungsang
      <i>devlog</i>
    </a>
  </li>
  <a href="https://www.facebook.com/profile.php?id=100003805377149"><li class="menu_ele">Facebook</li></a>
  <a href="https://github.com/bbungsang"><li class="menu_ele">GitHub</li></a>
</ul>

{% include side_nav.html %}
