<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-100042262-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-100042262-1');
	</script>

	<title>뿡상의 개발공부로그</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- 파비콘 -->
	<link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/common.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/nav.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/post.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/list.css" />
	<link rel="stylesheet" href="https://cdn.iconmonstr.com/1.2.0/css/iconmonstr-iconic-font.min.css">

	<!--external css-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://cdn.iconmonstr.com/1.2.0/css/iconmonstr-iconic-font.min.css' rel='stylesheet'>

	<!-- font -->
	<link href='https://fonts.googleapis.com/css?family=Gloria Hallelujah' rel='stylesheet'>

	<link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Architects Daughter' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Bungee Hairline' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Bubbler One' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css?family=Patrick Hand SC" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
