<!-- 사이드 메뉴바 -->
<div id="mySidenav" class="sidenav">
  <div class="intro-me">
    <div class="my-photo">
      <img src="{{ site.baseurl }}/images/meme.png">
    </div>
    <div class="my-content">
      Please contact me if you have any questions
      <p>- Elena.Kim -</p>
      <button class="resume">미정</button>
    </div>
  </div>
  <ul class="menu-ele">
    <li>
      <a href="{{site.baseurl}}/files/python.html">
        <span class="bar-left"></span>
        파이썬
        <span class="bar-right"></span>
      </a>
    </li>
    <li>
      <a href="{{site.baseurl}}/files/django.html">
        <span class="bar-left"></span>
        장고
        <span class="bar-right"></span>
      </a>
    </li>
    <li>
      <a href="{{site.baseurl}}/files/algorithm.html">
        <span class="bar-left"></span>
        알고리즘
        <span class="bar-right"></span>
      </a>
    </li>
    <li>
      <a href="{{site.baseurl}}/files/server.html">
        <span class="bar-left"></span>
        서버
        <span class="bar-right"></span>
      </a>
    </li>
    <li>
      <a href="{{site.baseurl}}/files/study.html">
        <span class="bar-left"></span>
        스터디
        <span class="bar-right"></span>
      </a>
    </li>
  </ul>
</div>

<script>
  function sideNavBtnClickHandler(e) {
    document.getElementById("mySidenav").style.left = "0px";
    e.stopPropagation();
  }

  document.getElementById("menuBtn").addEventListener(
    "click",
    sideNavBtnClickHandler
  );

  window.addEventListener("click", function () {
    var sidenav = document.getElementsByClassName("sidenav");

    for(var i=0; i<sidenav.length; i++){
      var closeSidenav = sidenav[i];
      closeSidenav.style.left = "-240px";
    }
  });
</script>
