---
layout: default
---

<section class="list-container">
  <!-- tryhelloworld -->
  <p class="post-head">Try Hello World</p>
  <ul class="post-list">
    {% for post in site.categories.tryhelloworld %}
    <li class="post-wrap" style="background: #161616">
      <div class="img-wrap" style="background: url('../images/tryhelloworld.png'); background-position: right; background-size: 153px auto; background-repeat: no-repeat;">
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
          <h3>{{ post.title }} | {{ post.date | date_to_string }}</h3>
        </a>
        <a href="{{ site.baseurl }}{{ post.url }}" style="text-decoration: none;">
          <p class="post-content">
            {{ post.content | strip_html | truncatewords: 25 }}
            <!-- <a href="{{ site.baseurl }}{{ post.url }}" class="read-more-btn">READ MORE</a> -->
          </p>
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>

  <!-- algorithm -->
  <!-- <p class="post-head">Solve! Algorithm</p>
  <ul class="post-list">
    {% for post in site.categories.algorithm %}
    <li class="post-wrap" style="background: #737373">
      <div class="img-wrap" style="background: url('../images/hello_coding.jpg'); background-position: right; background-size: 153px auto; background-repeat: no-repeat;">
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
          <h3>{{ post.title }} | {{ post.date | date_to_string }}</h3>
        </a>
        <a href="{{ site.baseurl }}{{ post.url }}" style="text-decoration: none;">
          <p class="post-content">
            {{ post.content | strip_html | truncatewords: 30 }}
          </p>
        </a>
      </div>
    </li>
    {% endfor %}
  </ul> -->
</section>
