---
layout: default
---

<section class="list-container">
  <!-- Server -->
  <p class="post-head">Server</p>
  <ul class="post-list">
    {% for post in site.categories.server %}
    <li class="post-wrap" style="background: #898989;">
      <div class="img-wrap" style="background: url('../images/cloud.png'); background-position: right; background-size: 153px auto; background-repeat: no-repeat;">
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
          <h3>{{ post.title }} | {{ post.date | date_to_string }}</h3>
        </a>
        <a href="{{ site.baseurl }}{{ post.url }}" style="text-decoration: none;">
          <p class="post-content">
            {{ post.content | strip_html | truncatewords: 30 }}
            <!-- <a href="{{ site.baseurl }}{{ post.url }}" class="read-more-btn">READ MORE</a> -->
          </p>
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>

  <!-- Docker -->
  <p class="post-head">도커</p>
  <ul class="post-list">
    {% for post in site.categories.docker %}
    <li class="post-wrap" style="background: #49505a;">
      <div class="img-wrap" style="background: url('../images/docker.png'); background-position: right; background-size: 153px auto; background-repeat: no-repeat;">
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
          <h3>{{ post.title }} | {{ post.date | date_to_string }}</h3>
        </a>
        <a href="{{ site.baseurl }}{{ post.url }}" style="text-decoration: none;">
          <p class="post-content">
            {{ post.content | strip_html | truncatewords: 30 }}
            <!-- <a href="{{ site.baseurl }}{{ post.url }}" class="read-more-btn">READ MORE</a> -->
          </p>
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>

  <!-- AWS -->
  <p class="post-head">AWS</p>
  <ul class="post-list">
    {% for post in site.categories.aws %}
    <li class="post-wrap" style="background: #876b14;">
      <div class="img-wrap" style="background: url('../images/aws.jpeg'); background-position: right; background-size: 153px auto; background-repeat: no-repeat;">
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
          <h3>{{ post.title }} | {{ post.date | date_to_string }}</h3>
        </a>
        <a href="{{ site.baseurl }}{{ post.url }}" style="text-decoration: none;">
          <p class="post-content">
            {{ post.content | strip_html | truncatewords: 30 }}
            <!-- <a href="{{ site.baseurl }}{{ post.url }}" class="read-more-btn">READ MORE</a> -->
          </p>
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
