---
layout: default
---

<section class="list-container">
  <!-- 두숟갈 -->
  <p class="post-head">두숟갈 스터디</p>
  <ul class="post-list">
    {% for post in site.categories.two-scoops %}
    <li class="post-wrap" style="background: #888909;">
      <div class="img-wrap" style="background: url('../images/two_scoops.jpg'); background-position: right; background-size: 153px auto; background-repeat: no-repeat;">
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
          <h3>{{ post.title }} | {{ post.date | date_to_string }}</h3>
        </a>
        <a href="{{ site.baseurl }}{{ post.url }}" style="text-decoration: none;">
          <p class="post-content">
            {{ post.content | strip_html | truncatewords: 25 }}
            <!-- <a href="{{ site.baseurl }}{{ post.url }}" class="read-more-btn">READ MORE</a> -->
          </p>
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>

  <!-- DRF 스터디 -->
  <p class="post-head">DRF 스터디</p>
  <ul class="post-list">
    {% for post in site.categories.drf %}
    <li class="post-wrap" style="background: rgba(0, 0, 0, 0.5);">
      <div class="img-wrap" style="background: url('../images/drf_logo.png'); background-position: right; background-size: 153px auto; background-repeat: no-repeat;">
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
          <h3>{{ post.title }} | {{ post.date | date_to_string }}</h3>
        </a>
        <a href="{{ site.baseurl }}{{ post.url }}" style="text-decoration: none;">
          <p class="post-content">
            {{ post.content | strip_html | truncatewords: 25 }}
            <!-- <a href="{{ site.baseurl }}{{ post.url }}" class="read-more-btn">READ MORE</a> -->
          </p>
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
