---
layout: default
---

<section class="markdown">
  <article class="md-head">
    <div class="title">
      {{ page.title }}
    </div>
    <div class="tag-wrap">
      {% if post %}
        {% assign tags = post.tags %}
      {% else %}
        {% assign tags = page.tags %}
      {% endif %}
      {% for tag in tags %}
        <a href="/tags/#{{tag|slugize}}">
          <img src="{{ site.baseurl }}/images/tag_img.png">
          {{tag}}
        </a>
      {% endfor %}
    </div>
  </article>
  <article class="markdown-body">
    <section class="post-content">
      {{ content }}
    </section>
    <br><br>
    <footer>

      <!-- option to limit page -->
      {% assign page_category = page.category[1] %}
      {% for post in site.categories[page_category] %}
        {% if post.url == page.url %}
          {% assign post_index0 = forloop.index0 %}
          {% assign post_index1 = forloop.index %}
        {% endif %}
      {% endfor %}

      {% for post in site.categories[page_category] %}
        {% if post_index0 == forloop.index %}
          {% assign next_post = post %}
        {% endif %}
        {% if post_index1 == forloop.index0 %}
          {% assign prev_post = post %}
        {% endif %}
      {% endfor %}

      <ul class="other-posts">
        {% if prev_post %}
        <li class="prev-or-next">
          <a href="{{ prev_post.url }}">
            <span class="glyphicon glyphicon-chevron-left"></span>
            {{ prev_post.title | strip_html | truncatewords: 5 }}
          </a>
        </li>
        {% endif %}
        {% if next_post %}
        <li class="prev-or-next" align="right" style="float: right;">
          <a href="{{ next_post.url }}">
            {{ next_post.title | strip_html | truncatewords: 5 }}
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </li>
        {% endif %}
      </ul>
      <!-- <section class="my-intro">
        <img src="{{ site.baseurl }}/images/itsme.png">
        <article>
          <p>뿡상</p>
          궁금하시거나 틀린 부분이 있다면 언제든 문의주세요:D
        </article>
      </section> -->
      {% include /comments.html %}
    </footer>
  </article>
</section>
